<div class="row-fluid section1">
  <div class="span5 offset1 asset">
    <%= image_tag("typewriter.jpg", size: "480x300", alt: "typewriter") %>
  </div>
  <div class="span5 copy">
    <p>Post a thought, question, statement, haiku, concern, idea...</p>
    <p>Your thought will be read, re-read, mulled over, possibly discussed by a group of strangers, read again, and a thoughtful response will be returned to you.</p>
    <p>That response might be funny, or wise, it might be serious, or it may be thought provoking, but it will be crafted with care by another human being.</p>
    <p><em><strong>Thoughtsy</strong> is like a one-off pen pal</em></p>
    <p><em>or a game of long-distance chess --minus the context<br />...and maybe a little less nerdy.</em></p>
  </div>
</div>