<div class="row-fluid section1">
  <div class="span5 offset1 asset">
    <%= image_tag("typewriter.jpg", size: "480x300", alt: "typewriter") %>
  </div>
  <div class="span5 copy">
    <h3>Have you ever felt like...</h3>
    <p>bouncing an idea off of someone?</p>
    <p>seeing if that idea you wrote down last night at 3am really is as good as you think?</p>
    <p>broadcasting something to the universe and seeing what comes back?</p>
    <p>channeling your inner sage?</p>
    <p>seriously discussing nonsense with a total stranger?</p>
    <p>connecting with someone in a new way?</p>
  </div>
</div>

<div class="row-fluid section2">
  <div class="span5 offset1 copy copy-right">
    <p>Post a thought, question, statement, haiku, concern, idea...</p>
    <p>Your thought will be read, re-read, mulled over, possibly discussed by a group of strangers, read again, and a thoughtful response will be returned to you.</p>
    <p>That response might be funny, or wise, it might be serious, or it may be thought provoking, but it will be crafted with care by another human being.</p>
    <p><em><strong>Thoughtsy</strong> is like a one-off pen pal</em></p>
    <p><em>or a game of long-distance chess --minus the context<br />...and maybe a little less nerdy.</em></p>
  </div>
  <div class="span5 asset">
    <%= image_tag("airplane.jpg", size: "480x300", alt: "paper airplane") %>
  </div>
</div>