<div class="row-fluid pitch">
  <div class="span5 offset1 copy copy-right" id="top-copy">
    <h3>Have you ever felt like...</h3>
    <p>bouncing an idea off of someone?</p>
    <p>seeing if that idea you wrote down last night at 3am really is as good as you think?</p>
    <p>broadcasting something to the universe and seeing what comes back?</p>
    <p>channeling your inner sage?</p>
    <p>seriously discussing nonsense with a total stranger?</p>
    <p>connecting with someone in a new way?</p>
  </div>

  <div class="span5 actions">
    <div class="row-fluid">
      <div class="span8 offset2">
        <div class="row-fluid statistics">
          <div class="span4">
            <!-- linediv-l and linediv-r give dividing lines that look
            different in horizontal and vertical layouts, illustrating
            media queries. -->
            <div class="linediv-l">
            <h3>4</h3> <p>backers</p>
            </div>
          </div>
          <div class="span4">
            <div class="linediv-c">
              <h3>$12.55</h3> <p>of $100</p>
            </div>
          </div>
          <div class="span4">
            <div class="linediv-r">
            <h3>8</h3> <p>days left</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span10 offset1">
          <!-- Bootstrap progress bar -->
          <!-- http://twitter.github.io/bootstrap/components.html#progress -->
          <div class="thermometer progress active">
            <div class="bar bar-success" style="width: 10%;"></div>
            <div class="bar" style="width: 90%;"></div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6 offset3 order">
          <!-- Bitcoin button and script -->
          <a class="coinbase-button" data-code="e9e6124619ab3d727b586a871747b764" data-button-style="donation_large" href="https://coinbase.com/checkouts/e9e6124619ab3d727b586a871747b764">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6 offset3 social">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51fb811056f2ac7d"></script>
          <!-- AddThis Button END -->
        </div>
      </div>
    </div>
  </div>
</div>