<div class="container-fluid">
  <footer class="footer">
    <small>
      <%= link_to "Creative Commons Licence", "http://creativecommons.org/licenses/by-sa/3.0/", :target => '_blank' %>
      | madA.reverse
    </small>
    <nav>
      <ul>
        <li><%= link_to "Team",    '#' %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Credit", "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book", :target => '_blank' %>
        </li>
      </ul>
    </nav>
  </footer>
</div>